body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background-size: 100% auto;
    background-position: top center;
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

.title {
    margin-bottom: 5vh;
}

.card {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px; /* Establece el límite máximo de ancho */
    width: 100%; /* Permite que el ancho se ajuste dinámicamente */
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

.summary .col-2,
.summary .col-10 {
    padding: 0;
}

@media(max-width:767px) {
    .card {
        margin-left: 5vh; /* Margen izquierdo pequeño */
        margin-right: 5vh !important; /* Margen derecho pequeño */
        width: auto;
        margin-bottom: 50px;
    }

    .cart {
        padding: 2vh; /* Ajusta el relleno interno */
        border-radius: 10px;
    }

    .summary {
        border-radius: 10px;
    }
}

.row {
    margin: 0;
    max-width: 1200px;
}

.title b {
    font-size: 1.5rem;
}

.col-2,
.col {
    padding: 0 1vh;
    margin-left: 10px;
}

a {
    padding: 0 1vh;
}

.close {
    margin-left: auto;
    font-size: 0.7rem;
}

img {
    width: 3.5rem;
}



.text-muted{
    color: white !important;
    --bs-text-opacity: initial !important;
}

h5 {
    margin-top: 4vh;
}

hr {
    margin-top: 1.25rem;
}

form {
    padding: 2vh 0;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.boton-pagar {
    margin-top: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: black;
    box-shadow: 2px 2px 25px -7px black;
    cursor: pointer;
    display: block;
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
}

.btn:hover {
    color: white;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

/********************NAVARR**********************/

.navbar-container {
    max-height: 60px;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    opacity: 1;
    margin: 0;
    padding: 0px 20px;
    text-transform: uppercase;
    background-color: #ede0d4 !important;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 3.5rem;
}

.navbar-nav .nav-link {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    font-size: 14px;
    /* Reducimos el tamaño del texto */
    color: #573b8a;
    position: relative;
    text-decoration: none;
    margin-right: 20px;
    transition: transform 0.3s;
}

.navbar-nav {
    padding: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extrabuttons {
    display: flex;
    margin-right: 35px;
}

.extrabuttons a {
    margin-right: 10px;
    /* Ajusta el margen entre los iconos */
}

.navbar-login {
    min-width: fit-content;
    background-color: #573b8a;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    transition: transform 0.3s;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;

}

.nav-login-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        background-color: #ede0d4;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 999;
        align-items: center;
        border-top: 5px solid;
        transition: border-width 0.3s;
    }

    .navbar {
        min-width: 435px;
        height: 100%;
        width: 100%;
        opacity: 1;
        margin-top: -15px;
        padding: 3px 20px;
        text-transform: uppercase;
        background-color: #ede0d4 !important;
        max-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navbar-nav {
        padding: 0%;
        text-align: center;
    }

    .navbar-login {
        min-width: fit-content;
        background-color: #573b8a;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        margin-right: 10px;
        transition: transform 0.3s;
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid transparent;
        border-radius: 5px;

    }

    .navbar-brand {
        margin-right: auto;
    }

    .navbar-nav .nav-link {
        margin-right: 15px;
        /* Reducimos el espacio entre elementos */
        margin-bottom: 10px;
    }
}

/*carosel */
.carousel {
    z-index: 1;
    margin-top: calc(100px + 20px);
    /* Ajusta según la altura de tu encabezado y el espacio adicional */
    margin-left: 300px;
    margin-right: 300px;
    max-height: 700px;
}

.navbar-brand {
    margin-right: auto;
    /* Empuja el logotipo a la izquierda */
}

.navbar-nav .nav-link {
    margin-right: 30px;
    /* Elimina el margen derecho para los enlaces */
    margin-bottom: 10px;
    /* Agrega un margen inferior entre los enlaces */
}



.navbar-nav .nav-login-link {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    transition: transform 0.3s;
    /* Agregamos una transición para el efecto de zoom */
    text-decoration: none;
    padding: 5px 10px;
    /* Añadimos un padding para dar espacio alrededor del texto */
    border: 2px solid transparent;
    /* Establecemos un borde transparente */
    border-radius: 5px;
}

/* Estilos para el botón Login y Register cuando el mouse está encima */
.navbar-nav .nav-login-link:hover {
    border-color: #fff;
    /* Cambiamos el color del borde al pasar el mouse por encima */
}
