/* ----- Variables ----- 
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

/* ----- Global ----- */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    grid-template-rows: 1fr;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: black;
}

img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px);
}

/* ----- Product Section ----- */
.product {
    top: 2cm;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    min-width: 600px;
    max-width: 1000px;
    background-color: white;
    border-radius: 5px;
    z-index: 1; /* Establece un z-index más alto */
    position: relative;
    border: 8px solid black;
}

/* ----- Photo Section ----- */
.product__photo {
    position: relative;
}

.photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
    border-radius: 6px 6px 0 0;
    background-color: #9be010;
    background: radial-gradient(#e5f89e, #96e001);
    
}

.photo-main img {
    position: absolute;
    left: -3.5em;
    top: 2em;
    max-width: 110%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    border: 1px solid black;
    z-index: 0;
}

/* ----- Informations Section ----- */
.product__info {
    padding: 0.8em 0;
}

.title h1 {
    margin-bottom: 0.1em;
    color: black;
    font-size: 1.5em;
    font-weight: 900;
}

.title span {
    font-size: 0.7em;
    color: black;
}

.price {
    margin: 1.5em 0;
    color: black;
    font-size: 1.2em;
}

.price span {
    padding-left: 0.15em;
    font-size: 2.9em;
}

.description {
    clear: left;
    margin: 2em 0;
}

.description h3 {
    margin-bottom: 1em;
}

.description p {
    font-size: 0.9em; /* Tamaño de fuente ligeramente reducido */
    line-height: 1.6; /* Espaciado entre líneas */
    color: #333; /* Color del texto */
}

.buy--btn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: black;
    box-shadow: 2px 2px 25px -7px black;
    cursor: pointer;
}

.buy--btn:active {
    transform: scale(0.97);
}

/* ----- Footer Section ----- */
footer {
    padding: 1em;
    text-align: center;
    color: #fff;
}

footer a {
    color: black;
}

footer a:hover {
    color: black;
}

/********************NAVARR**********************/

.navbar-container {
    max-height: 60px;
    margin: 0;
    padding: 0;
}   

.navbar {
    width: 100%;
    opacity: 1;
    margin: 0;
    padding: 0px 20px;
    text-transform: uppercase;
    background-color: #ede0d4 !important;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav .nav-link {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    font-size: 14px; /* Reducimos el tamaño del texto */
    color: #573b8a;
    position: relative;
    text-decoration: none;
    margin-right: 20px;
    transition: transform 0.3s;
}

.navbar-nav {
    padding: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.extrabuttons{
    display: flex;
    margin-right: 35px;
}
.extrabuttons a {
    margin-right: 10px; /* Ajusta el margen entre los iconos */
}
.navbar-login {
    min-width: fit-content;
    background-color: #573b8a;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    transition: transform 0.3s;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;

}

.nav-login-link {
    text-decoration: none;
    color: white;
}
.navbar-brand {
    margin-right: auto;
        width: 3.5rem;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        background-color: #ede0d4;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 999;
        align-items: center;
        border-top: 5px solid;
        transition: border-width 0.3s;
    }

    .navbar {
        min-width: 435px;
        height: 100%;
        width: 100%;
        opacity: 1;
        margin-top: -15px;
        padding: 3px 20px;
        text-transform: uppercase;
        background-color: #ede0d4 !important;
        max-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    .navbar-nav {
        padding: 0%;
        text-align: center;
    }

    .navbar-login {
        min-width: fit-content;
        background-color: #573b8a;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        margin-right: 10px;
        transition: transform 0.3s;
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid transparent;
        border-radius: 5px;
    
    }

    .navbar-brand {
        margin-right: auto;
            width: 3.5rem;
    }

    .navbar-nav .nav-link {
        margin-right: 15px; /* Reducimos el espacio entre elementos */
        margin-bottom: 10px;
    }
}