/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

/* Estilos para las tarjetas de producto */
.card {
    margin-top: 100px;
    height: 100%; /* Ajusta la altura de la tarjeta */
    
}   

.row {
    margin-left: -15px;
    margin-right: -15px;
    flex-grow: 1;
}
.card-header {
    background-color: #004d74; /* Color del navbar */
    color: #fff; /* Color del texto */
}   

@media (min-width: 768px) {
    .col {
        margin-right: 20px; /* Espacio entre las tarjetas */
        margin-left: 20px; /* Espacio entre las tarjetas */
    }
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    height: 200px; /* Ajusta la altura de la imagen del producto */
    background-size: contain; /* La imagen de fondo se ajusta para caber dentro del contenedor */
    background-position: center; /* La imagen de fondo se posiciona en el centro */
    margin-bottom: 15px; /* Añade un espacio entre la imagen y el contenido */
    background-repeat: no-repeat;
}

.card-title {
    font-size: 24px; /* Ajusta el tamaño del título del producto */
    margin-bottom: 10px; /* Añade un espacio entre el título y el precio */
}

.pricing-card-title {
    font-size: 18px; /* Ajusta el tamaño del precio */
}

.btn-primary {
    background-color: black !important;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    padding: 1.5em 3.1em;
    letter-spacing: 1.3px;
    box-shadow: 2px 2px 25px -7px black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Agregamos una transición suave */
}

.btn-primary:hover {
    background-color: white !important;
    color: black !important;
    box-shadow: 2px 2px 25px -7px gray; /* Cambiamos la sombra */
}
main {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: none; /* Elimina el ancho máximo */
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-right: 0; /* Elimina el margen derecho */
}
    
