/* Estilos generales */

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background-size: 100% auto;
    background-position: top center;
    margin: 0;
    padding: 0;
}



main {
    width: 100%;
    /* Ocupa todo el ancho disponible */
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

/* Estilos para agrandar las letras del botón seleccionado 
.navbar-nav .nav-link:hover {
    transform: scale(1.3);
    /* Aumenta la escala del texto */
/*color: #573b8a;
    /* Mantenemos el color del texto blanco cuando se pasa el mouse sobre el botón */

/********************NAVARR**********************/

.navbar-container {
    max-height: 60px;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    opacity: 1;
    margin: 0;
    padding: 0px 20px;
    text-transform: uppercase;
    background-color: #ede0d4 !important;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .navbar-brand img {
    width: 3.5rem;
}

.navbar-nav .nav-link {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20px;
    /* Reducimos el tamaño del texto */
    color: #573b8a  ;
    position: relative;
    text-decoration: none;
    margin-right: 20px;
    transition: transform 0.3s;
}

.navbar-nav {
    padding: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extrabuttons {
    display: flex;
    margin-right: 50px;
    letter-spacing: 10px;
}

.extrabuttons a {
    margin-right: 10px;
    /* Ajusta el margen entre los iconos */
}

.navbar-login {
    min-width: fit-content;
    background-color: #573b8a;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
    transition: transform 0.3s;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;

}

.nav-login-link {
    text-decoration: none;
    color: white;
}
.navbar-brand {
    margin-right: auto;
        width: 3.5rem;
}

/* */



@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        background-color: #ede0d4;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 999;
        align-items: center;
        border-top: 5px solid;
    }

    .navbar {
        min-width: 435px;
        height: 100%;
        opacity: 1;
        padding: 0px 20px;
        text-transform: uppercase;
        background-color: #ede0d4 !important;
        display: flex;
        align-items: center;
        --bs-navbar-padding-x: unset !important;
    --bs-navbar-padding-y: unset !important;
    }
    


    .navbar-nav {
        padding: 0%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .navbar-login {
        min-width: fit-content;
        background-color: #573b8a;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        margin-right: 10px;
        transition: transform 0.3s;
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid transparent;
        border-radius: 5px;

    }

    .navbar-brand {
        margin-right: auto;
    }

    .navbar-nav .nav-link {
        margin-right: 15px;
        /* Reducimos el espacio entre elementos */
        margin-bottom: 10px;
    }
}


/* Estilos para el carrusel */
.carousel {
    z-index: 1;
    margin-top: calc(100px + 20px);
    /* Ajusta según la altura de tu encabezado y el espacio adicional */
    margin-left: 300px;
    margin-right: 300px;
    max-height: 700px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Escala las imágenes para que cubran el área del carousel */
    transition: none;
    /* Desactiva las transiciones en las imágenes */

}

.carousel-control-prev,
.carousel-control-next {
    font-size: 5rem;
    padding: 20px;
    pointer-events: auto;
}

/*carosel */
.carousel {
    margin-top: calc(100px + 20px);
    /* Ajusta según la altura de tu encabezado y el espacio adicional */
    margin-left: 300px;
    margin-right: 300px;
    image-resolution: 1280-190;
}

/* Estilos para los botones de control del carrusel */
.carousel-indicators button {
    margin-top: -30px;
    width: 20px;
    height: 20px;
    padding: 0;
    pointer-events: relative;
}

/* Estilos para las flechas del carrusel */
.carousel-indicators button::before,
.carousel-indicators button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: transparent;
}

.carousel-indicators button::before {
    left: 0;
}

.carousel-indicators button::after {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    pointer-events: auto;
}

/* Estilos adicionales */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.featurette-divider {
    margin: 5rem 0;
    border: none;
    border-top: 5px solid #ede0d4;
    opacity: 0.55;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.carousel-caption h5 {
    font-size: 46px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 26px;
}

.descr h2 {
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 20px;
}

.descr p {
    font-size: 26px;
    color: rgba(255, 255, 255, .7);
}

.float-end,
.inc {
    font-size: 26px;
    color: rgba(255, 255, 255, .7);
}